<br>
<table class="table table-striped table-hover" style='table-layout : fixed'>
  <thead>
    <tr>
      <th style="width:80px">產品編號</th>
      <th>產品名稱</th>
      <th>產品類型</th>
      <th class="col-md-3">產品詳細內容</th>
      <th>圖片</th>
      <th>影片</th>
      <th style="width:50px"></th>
      <th style="width:50px"></th>
      <th style="width:50px"></th>
    </tr>
  </thead>
  <tbody>
    <% @fireworks.each do |firework| %>
      <tr>
        <td><%= firework_serial(firework) %></td>
        <td><%= firework.name %></td>
        <td>
          <%= product_type_chinese(firework.product_type) %><br>
          <%= sub_type_chinese(firework.sub_type) if firework.sub_type? %>
        </td>
        <td><div class="break"><%= firework.content %></div></td>
        <td>
          <%= link_to "#{image_tag(firework.image.url(:thumb))}".html_safe, firework.image.url(:medium),:class => 'fancybox-media' %></td>
        <td>
          <%= link_to "#{youtube_thumbnail_small(firework.youtube_url)}".html_safe, firework.youtube_url,:class => 'fancybox-media' %></td>
        <td><%= link_to '詳細內容', [:admin,firework] %></td>
        <td><%= link_to '編輯', edit_admin_firework_path(firework) %></td>
        <td><%= link_to '刪除', [:admin,firework], method: :delete, data: { confirm: '確定刪除此產品？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
