<%= form_for(@firework) do |f| %>
  <% if @firework.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@firework.errors.count, "error") %> prohibited this firework from being saved:</h2>

      <ul>
      <% @firework.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name_id %><br>
    <%= f.text_field :name_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :product_type %><br>
    <%= f.text_field :product_type %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
