<div class="content-block">
  <%= render partial: 'carousel',locals: {slides: @slides} %>
  <div class="w-row">
    <div class="w-col w-col-6" style="padding-right:30px;">
      <h4 style="color:#f8c400;">最新活動 Events</h4>
      <table class="table">
        <thead>
          <tr>
            <th>活動日期</th>
            <th>活動名稱</th>
            <th>Link</th>
          </tr>
        </thead>
        <tbody>
          <% @events.each do |event| %>
            <tr>
              <td><%= event.event_date %></td>
              <td><%= event.name %></td>
              <td><%= link_to 'Link',event.url %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="w-col w-col-6" >
      <h4 style="color:#f8c400;">關於宏益特效 About Us</h4>
      <a href="javascript:toggle();" id="toggleLink">Eng</a>
      <div id="about">
      </div>
    </div>
  </div>
  <div class="w-col w-col-12">
    <%= render 'contact' %>
  </div>
</div>
<%= content_for :page_specific_javascript do %>
  <script type="text/javascript">
    var toggleFlag = false;
    function toggle() {
      toggleFlag = !toggleFlag;
      var text;
      if ( toggleFlag ) {
        text = document.getElementById('chinese').innerHTML;
        $('#toggleLink').html('English');
      } else {
        text = document.getElementById('english').innerHTML;
        $('#toggleLink').html('中文');
      }
      $('#about').html(text);
    }
    $(document).ready(function() {
      toggle();
    });
  </script>
  <%= render 'introduce' %>
<% end %>
