<div class="content-block">
  <h4 style="color:#f8c400;"><%=product_type_chinese(@product_type)%></h4>
  <%= form_tag fireworks_path, :method => 'get' do %>
    <%= text_field_tag :search ,@search %>
    <%= submit_tag "搜尋" %>
  <% end %>
  <br>
  <h4><%= sub_navs(@product_type) if @product_type == 'gadge' %></h4>
  <div class="table-responsive">
    <table class="table" style='table-layout : fixed'>
      <thead>
        <tr>
          <th class="w-col w-col-2">圖片 Picture</th>
          <th class="w-col w-col-2">影片 Video</th>
          <th class="w-col w-col-1">編號 Code</th>
          <th class="w-col w-col-2">產品名稱 Product</th>
          <th>產品敘述 Description</th>
        </tr>
      </thead>
      <tbody>
        <% @fireworks.each do |firework| %>
          <tr>
            <td>
              <%= link_to "#{image_tag(firework.image.url(:thumb))}".html_safe, firework.image.url(:medium), data: { lightbox: "#{firework.id}" } %></td>
            <td>
              <%= content_tag(:span, class:'video-link video-target', data: {video_id: youtube_id(firework.youtube_url)}) do %>
                <%=youtube_thumbnail(firework.youtube_url)%>
              <% end %>
            </td>
            <td><%= firework_serial(firework) %></td>
            <td><%= highlight(firework.name,@search) %></td>
            <td><div class="break"><%= highlight(firework.content,@search) %></div></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="allrights"><p>本網站內所有的內容，均係宏益特效公司或其他權利人法享有智慧財產權權利的範圍，請勿逕自散布、重製、傳送、改作、發行、公開發表，或者以公開或商業的目的，若欲引用或轉載網站內容，請直接與宏益特效公司接洽，請諸位加以尊重，以免引發爭議。</p></div>
</div>
<%= content_for :page_specific_javascript do %>
  <script>
    $(function() {
    $(".video-link").jqueryVideoLightning({
    autoplay: 1,
    backdrop_color: "#000",
    backdrop_opacity: 0.8,
    glow: 20,
    glow_color: "#000"
    });
    });
  </script>
<% end %>
