<div class="content-block">
  <h4 style="color:#f8c400;"><%=product_type_chinese(@product_type)%></h4>
  <%= form_tag fireworks_path, :method => 'get' do %>
    <%= text_field_tag :search ,@search %>
    <%= submit_tag "搜尋" %>
  <% end %>
  <br>
  <h4><%= sub_navs(@product_type) if @product_type == 'gadge' %></h4>
  <table class="table">
    <thead>
      <tr>
        <th class="w-col w-col-2">圖片 Picture</th>
        <th class="w-col w-col-2">影片 Video</th>
        <th class="w-col w-col-2">編號 Code</th>
        <th class="w-col w-col-2">產品名稱 Product</th>
        <th>產品敘述 Description</th>
      </tr>
    </thead>
    <tbody>
      <% @fireworks.each do |firework| %>
        <tr>
          <td>
            <%= link_to "#{image_tag(firework.image.url(:thumb))}".html_safe, firework.image.url(:medium),:class => 'fancybox-media' %></td>
          <td>
            <%= link_to "#{youtube_thumbnail(firework.youtube_url)}".html_safe, firework.youtube_url,:class => 'fancybox-media' %></td>
          <td><%= firework.name_id %></td>
          <td><%= firework.name %></td>
          <td><%= firework.content %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
