<h3><%=product_type_chinese(@product_type)%></h3>
<div>
   <% @fireworks.each do |firework| %>
   <div>
        產品編號:<%= firework.name_id %><br>
        產品名稱:<%= firework.name %><br>
        產品類型:<%= product_type_chinese(firework.product_type) %><br>
        產品詳細內容:<%= firework.content %><br>
        <%= image_tag firework.image.url(:square),:class=>'img-rounded' %><br>
        <% youtube_thumbnail(firework.youtube_url) if firework.youtube_url? %><br>
    </div>
    <hr>
   <% end %>
</div>
