<div class="content-block">
  <h4 style="color:#f8c400;"><%=product_type_chinese(@product_type)%></h4>
  <%= form_tag fireworks_path, :method => 'get' do %>
    <%= text_field_tag :search ,@search %>
    <%= submit_tag "搜尋" %>
  <% end %>
  <br>
  <h4><%= sub_navs(@product_type) if @product_type == 'gadge' %></h4>
  <div class="table-responsive">
    <table class="table" style='table-layout : fixed'>
      <thead>
        <tr>
          <th class="w-col w-col-2">圖片 Picture</th>
          <th class="w-col w-col-2">影片 Video</th>
          <th class="w-col w-col-1">編號 Code</th>
          <th class="w-col w-col-2">產品名稱 Product</th>
          <th>產品敘述 Description</th>
        </tr>
      </thead>
      <tbody>
        <% @fireworks.each do |firework| %>
          <tr>
            <td>
              <%= link_to "#{image_tag(firework.image.url(:thumb))}".html_safe, firework.image.url(:medium), data: { lightbox: "#{firework.id}" } %></td>
            <td>
              <%= link_to "#{youtube_thumbnail(firework.youtube_url)}".html_safe, firework.youtube_url,:class => 'fancybox-media' %></td>
            <td><%= firework_serial(firework) %></td>
            <td><%= highlight(firework.name,@search) %></td>
            <td><div class="break"><%= highlight(firework.content,@search) %></div></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= content_for :page_specific_javascript do %>
  <script type="text/javascript">
    $(document).ready(function() {
    $("a.fancybox").fancybox();
    $('.fancybox-media')
        .attr('rel', 'media-gallery')
        .fancybox({
          openEffect : 'elastic',
          closeEffect : 'elastic',
          prevEffect : 'none',
          nextEffect : 'none',
           padding : 1,
          arrows : false,
          helpers : {
            media : {}            }
        });
            });
  </script>
<% end %>
