<div class="content-block">
  <h4 style="color:#f8c400;"><%=product_type_chinese(@product_type)%></h4>
  <%= bootstrap_form_tag url: fireworks_path ,:method =>:get , layout: :inline do |f| %>
    <%= f.text_field :search ,hide_label: true %>
    <%= f.submit "搜尋", class: "btn btn-success" %>
  <% end %>
  <table class="table">
    <thead>
      <tr>
        <th>影片/圖片參考 Reference</th>
        <th>編號 Code</th>
        <th>產品名稱 Product</th>
        <th>產品敘述 Description</th>
      </tr>
    </thead>
    <tbody>
      <% @fireworks.each do |firework| %>
        <tr>
          <td>
            <%= link_to "#{image_tag(firework.image.url(:thumb))}".html_safe, firework.youtube_url,:class => 'fancybox-media' %></td>
          <td><%= firework.name_id %></td>
          <td><%= firework.name %></td>
          <td><%= firework.content %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
