<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= render_page_title %>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "normalize","data-turbolinks-track" => true  %>
    <%= stylesheet_link_tag    "webflow" ,"data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "hyy.webflow","data-turbolinks-track" => true  %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="fixed-nav" style="width:100%;background:#f8c400;color:black;">
      網頁改版中，詳情特效請電洽 02-2790-7765。
    </div>
    <div class="w-row">
      <!-- LEFT -->
      <div class="w-col w-col-4 left-sidebar">
        <div class="fixed-nav">
          <a href="/"><img class="logo" src="/images/logo.png" width="403"></a>
          <%=products_navs%>
          <div class="allrights"><p>本網站內所有的內容，均係宏益特效公司或其他權利人法享有智慧財產權權利的範圍，請勿逕自散布、重製、傳送、改作、發行、公開發表，或者以公開或商業的目的，若欲引用或轉載網站內容，請直接與宏益特效公司接洽，請諸位加以尊重，以免引發爭議。</p></div>
          <div class="italic-text">&copy;2014 宏益舞台特效有限公司 All rights reserved.</div>
        </div>
      </div>
      <div class="w-col w-col-8 content-column">
        <%= yield %>
      </div>
    </div>
  </body>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "modernizr", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "webflow", "data-turbolinks-track" => true %>
  <%= yield :page_specific_javascript %>
</html>
