<!DOCTYPE html>
<html>
  <head>
    <%= render_page_title %>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "normalize","data-turbolinks-track" => true  %>
    <%= stylesheet_link_tag    "webflow" ,"data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "hyy.webflow","data-turbolinks-track" => true  %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "modernizr", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "webflow", "data-turbolinks-track" => true %>
    <script type="text/javascript">
      		$(document).ready(function() {
        	$("a.fancybox").fancybox();
        	$('.fancybox-media')
      				.attr('rel', 'media-gallery')
      				.fancybox({
      					openEffect : 'none',
      					closeEffect : 'none',
      					prevEffect : 'none',
      					nextEffect : 'none',
      
      					arrows : false,
      					helpers : {
      						media : {},
      						buttons : {}
      					}
      				});
      	});
    </script>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="w-row">
      <!-- LEFT -->
      <div class="w-col w-col-4 left-sidebar">
        <div class="fixed-nav">
          <a href="/"><img class="logo" src="/images/logo.png" width="590"></a>
          <%=products_navs%>

          <div class="italic-text">&copy;2014 Hong-Yi Tech Co., LTD. All rights reserved.</div>
        </div>
      </div>
      <div class="w-col w-col-8 content-column">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
